.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.flex {
  display: flex;

  // align-items
  &.y {
    &-center {
      align-items: center;
    }
    &-start {
      align-items: flex-start;
    }
    &-end {
      align-items: flex-end;
    }
  }

  // justify-content
  &.x {
    &-center {
      justify-content: center;
    }
    &-start {
      justify-content: flex-start;
    }
    &-end {
      justify-content: flex-end;
    }
    &-between {
      justify-content: space-between;
    }
  }

  &.xy-center {
    align-items: center;
    justify-content: center;
  }

  // flex-direction
  &.flex-column {
    flex-direction: column;
  }
  &.flex-row {
    flex-direction: row;
  }
  &.row-reverse {
    flex-direction: row-reverse;
  }

  // flex gap
  &.gap {
    &-3 {
      gap: 3px;
    }
    &-4 {
      gap: 4px;
    }
    &-6 {
      gap: 6px;
    }
    &-8 {
      gap: 8px;
    }
    &-10 {
      gap: 10px;
    }
    &-12 {
      gap: 12px;
    }
    &-14 {
      gap: 14px;
    }
    &-16 {
      gap: 16px;
    }
    &-18 {
      gap: 18px;
    }
    &-20 {
      gap: 20px;
    }
    &-24 {
      gap: 24px;
    }
    &-30 {
      gap: 30px;
    }
    &-32 {
      gap: 32px;
    }
    &-40 {
      gap: 40px;
    }
  }
}
